[Desktop Entry]
Encoding=UTF-8
Name=Link to Robot MarketPlace - Sabertooth 10 RC Dual Motor Speed Controller
Type=Link
URL=http://www.robotmarketplace.com/products/0-SABER2X10-RC.html
Icon=gnome-fs-bookmark
