<launch>
  <!-- joystick node -->
  <node respawn="true" name="PS3Joystick" pkg="joy" type="joy_node" >
    <rosparam file="$(find ardros)/info/joystick.yaml" command="load" />
  </node>
  <node name="teleop" pkg="ardros" type="teleop.py">
    <rosparam file="$(find ardros)/info/teleop.yaml" command="load" />
  </node>
</launch>
